.product-card{
  &__image{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    min-height: 300px;
    img{
      min-width: 210px;
    }
  }
  &__name{
    padding-right: 10px;
    margin-top: 12px;
    font-size: 0.9em;
  }
  &__price{
    margin-top: 7px;
    span{
      font-size: 0.8em;
      color: #a5a5a5;
      margin-right: 10px;
    }
    &--promotional{
      text-decoration: line-through;
      color: #cbcbcb !important;
    }
  }
}