.product{
  display: flex;
  flex-direction: row;
  border-top: 4px solid #efefef;
  padding: 6rem 0;
  &__image{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    height: 300px;
    img{
      min-width: 300px;
    }
  }
  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4rem;
    height: 300px;
    &__top{
      &--title{
        font-size: 2em;
        margin-bottom: 10px;
      }
      &--description{
        margin-bottom: 0;
        padding-bottom: 3rem;
        height: 6rem;
        text-align: justify;
        overflow: hidden;
        border-bottom: 2px solid #efefef;
        p{
          overflow: hidden;
          height: 6rem;
        }
      }
    }
    &__bottom{
      &--price{
        font-weight: 800;
      }
      &--freight{
        margin-top: 4px;
        font-size: 0.8em;
        color: #a5a5a5;
      }
      &--add-cart{
        margin-top: 0.7rem;
      }
    }
  }
}