$padding-footer: 1rem;
.footer{
  //grid-area: footer;
  position: relative;
  width: calc(100% - ( $padding-footer * 2 ));
  margin-top: 4rem;
  background-color: #f5f5f5;
  padding: $padding-footer;
  &__rights{
    display: block;
    position: relative;
    width: 100%;
    color: #a5a5a5;
    text-align: center;
    font-size: 0.8em;
  }
}