.home{
  position: relative;
  width: 100%;
  height: 100%;
  &__banner{
    font-family: "IBM Plex Sans", serif;
    background: url("../../assets/images/banner.png") no-repeat center;
    background-size: cover;
    position: relative;
    height: 450px;
    padding: 1.2rem 3rem;
    &--text{
      color: white;
      font-size: 2.6em;
      position: relative;
      top: 40%;
      text-transform: uppercase;
      letter-spacing: 3px;
      line-height: 1.6em;
      max-width: 70%;
    }
    &--logo{
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      img{
        display: block;
        margin: 0 auto;
      }
    }
    &--button{
      font-size: 1em;
    }
  }
  &__products{
    margin-top: 5rem;
    &__header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2rem;

      &--title{
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      &--aside{
        font-size: 0.9em;
        color: #bfbfbf;
        cursor: pointer;
        &:after{
          position: relative;
          top: 5px;
          content: '';
          display: block;
          width: 0;
          height: 1px;
          background: lighten(#bfbfbf, 30%);
          transition: all .3s;
          transform-origin: center;
        }
        &:hover{
          &:after{
            width: 100%;
            background: #bfbfbf;
          }
        }
      }
    }
    &__container{
      display: grid;
      grid: auto / repeat(3, 1fr);
      grid-gap: 40px 100px;
    }
  }
}