.home{
  position: relative;
  width: 100%;
  height: 100%;
  &__banner{
    font-family: "IBM Plex Sans", serif;
    background: url("../../assets/images/banner.png") no-repeat center;
    background-size: cover;
    position: relative;
    height: 450px;
    padding: 1.2rem 3rem;
    &--text{
      color: white;
      font-size: 2.6em;
      position: relative;
      top: 40%;
      text-transform: uppercase;
      letter-spacing: 3px;
      line-height: 1.6em;
      max-width: 70%;
    }
    &--logo{
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      img{
        display: block;
        margin: 0 auto;
      }
    }
    &--button{
      font-size: 1em;
    }
  }
}