@import "variables.scss";

@import "reset";
@import "fonts";
@import "app.scss";

@import "~simple-line-icons/scss/simple-line-icons";

//Components
@import "../components/header/header";

//Views
@import "../views/Home/home";