html, body, #root {
  width: 100%;
  height: 100%;
  font-family: Rubik, serif;
  font-size: 16px;
}
.app {
  min-height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  max-width: $max-width;
  margin: 0 auto;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
