@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik/Rubik-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik/Rubik-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik/Rubik-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}