.error-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  &__title{
    font-size:3em;
  }
  &__description{
    font-size: 2em;
  }
  &__go-back{
    margin-top: 20px;
  }
}